%div{:class => "center-left", :id => "login-box"}
  %p Register a Username
  %input{:type => "text", :id => "username", :placeholder => "Enter Username", :name => "username"}
  %input{:type => "password", :id => "userpassword", :placeholder => "Enter Password", :name => "password"}
  #register.btn Register