%div{:class => "center-left", :id => "login-box"}
  %p Register to Play a Game
  %form{:id => 'myform', :action => '/users', :method => 'POST'}
    %input{:type => "text", :id => "username", :placeholder => "Enter Username", :name => "username"}
    %input{:type => "password", :id => "userpassword", :placeholder => "Enter Password", :name => "password"}
    %input{:type => "password", :id => "confirmedpassword", :placeholder => "Confirm Password"}
    %a#register{:href => '/users', onclick: 'document.querySelector("#myform").submit()'}
      %div.btn
        Register  